ProductServiceApi/.vs/ProductServiceApi/DesignTimeBuild/.dtbcache.v2
ProductServiceApi/.vs/ProductServiceApi/FileContentIndex/120f64be-0c79-4ba0-aea9-bb7f9757f89b.vsidx
ProductServiceApi/.vs/ProductServiceApi/FileContentIndex/f1834d20-f0c0-4972-a29d-68f2d072049e.vsidx
ProductServiceApi/.vs/ProductServiceApi/FileContentIndex/read.lock
ProductServiceApi/.vs/ProductServiceApi/v17/.futdcache.v2
ProductServiceApi/.vs/ProjectEvaluation/productserviceapi.metadata.v5.2
ProductServiceApi/.vs/ProjectEvaluation/productserviceapi.projects.v5.2
